.header{
  width: 100dvw;
  position: relative;
}

.top-line {
  padding-block: 16px;
  width: 100%;
  align-items: center;

  & svg {
    width: 48px;
  }
}

.logo{
  grid-column: 2 / span 2;
}

.title {
  grid-column: 4 / span 6;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  align-items: center;

  & p{
    grid-column: span 3;
  }
}

.location {
  grid-column: 10 / span 3;
}

.typography {
  font-size: calc((12 / 16) * 1rem);
  font-weight: bold;
  text-transform: uppercase;
}

.divider{
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--color-orange-500) 0%, var(--color-grey-900) 100%);
}