.header{
  width: 100dhv;
  aspect-ratio: 1920/800;
  background-color: var(--color-orange-500);
  position: relative;
}

.top-line {
  color: var(--color-black-900);
  align-items: center;
  position: absolute;
  inset-block-start: 120px;
  z-index: 2;

  & svg {
    width: 48px;
  }
}

.logo{
  grid-column: 2 / span 2;
}

.title {
  grid-column: 4 / span 6;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  align-items: center;

  & p{
    grid-column: span 3;
  }
}

.location {
  grid-column: 10 / span 3;
}

.typography {
  font-size: calc((12 / 16) * 1rem);
  font-weight: bold;
  text-transform: uppercase;
}

.canvas{
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
}

.text-block{
  grid-column: 1 / span 6;
  position: relative;
  z-index: 1;
  padding: 40px 80px 40px 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;


  & .background {
    z-index: -1;
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 40px;
    background-color: var(--color-white-100);
    border-bottom-right-radius: 32px;
  }
}

.small{
  text-transform: uppercase;
  font-size: calc((72 / 16) * 1rem);
  line-height: calc((72 / 16) * 1rem);
  color: var(--color-white-100);
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.large{
  text-transform: uppercase;
  font-size: calc((144 / 16) * 1rem);
  line-height: calc((144 / 16) * 1rem);
  color: var(--color-black-900);
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

.photo-container{
  aspect-ratio: 1/1;
  width: var(--grid-4-col);
}

.photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}