.wrapper{
  width: 100vw;
  padding: 120px 0;

  h2{
    grid-column: 2 / span 4;
  }

  li {
    grid-column: span 4;
    list-style: none;
    
    &:first-child {
      grid-column: 2 / span 4;
    }
  }
}

.button-container {
  grid-column: 7 / span 2;
  text-align: center;

  button {
    appearance: none;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.reworked-thumbnail{
 --gfx-color:var(--color-orange-500);
  --border-radius: 16px;

  position: relative;

  &.css{
     --gfx-color:var(--color-orange-500); 
  }
  &.javascript{
     --gfx-color:var(--color-sand-500); 
  }
  &.react{
     --gfx-color:var(--color-black-900); 
  }
}

.reworked-layout {
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;  
  width: 100%;
}

.reworked-caption-layout{
 z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  height: 32px;
}

.caption {
  font-family: 'Geist', sans-serif;
  font-size: calc((14 / 16) * 1rem);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;

  & span {
    z-index: 1;
    display: block;
    background-color: var(--color-white-100);
    padding: 8px 16px;
    height: 32px;
    border-bottom-right-radius: var(--border-radius);
  }
}

.title-container{
  z-index: 2;
  position: relative;
  background-color: var(--color-white-100);
  margin-block-start: -32px;
  width: var(--grid-3-col);
  border-top-right-radius: var(--border-radius);
}

.title{
  z-index: 2;
  position: relative;
  font-family: 'PP-Editorial';
  font-size: calc((24 / 16) * 1rem);
  font-style: italic;
  padding: 16px 0;
}

.aligner{
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--color-white-100);
}

.caption-aligner{
  clip-path: path('M16 0H0V16C0 7.16344 7.16344 0 16 0Z');
}

.top-aligner{
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.bottom-aligner{
  top: 32px;
  left: 0;
}

.title-aligner{
  clip-path: path('M0 0L6.99383e-07 16L16 16C7.16344 16 3.86258e-07 8.83656 0 0Z');

  &.top-aligner{
    top: 0;
    left: 0;
    right: unset;
    transform: translateY(-100%);
  }

  &.bottom-aligner{
    top: 16px;
    right: 0;
    left: unset;
    transform: translateX(100%);

  }
}

.reworked-gfx-container{
  position: relative;
}

.reworked-gfx {
  background-color: var(--gfx-color);
  border-radius: var(--border-radius);
  aspect-ratio: 587/444;
  width: 100%;
}

